.jumbotron{
  background-image: url("https://lh3.googleusercontent.com/uU8kRdfFVbl50P0dunqFIlxKLKk1wqsUsh_kK7kQJLURBfMZvj10FmcUb3vtXTJknsEGwCDwHeWGObgufZfyK7nKP7NfrAnTg6p8eBaiYm1OepZPJWItu4Mkk3XiSiJcCU1P1AwphyM9ctOkU-jIbVwcTYLDtae4ZvlD1OWp2ApnEVoCfASgOpu0G3iGIH40KTTOcOec8mxBrTOw80iTOAcRVMQRgbl6kxAMH0PYM0GEIsLlct3e95Q0AjER6BnMI4V9qn9vLrH9O9GHYlR5yUPl8dQ8kUVzk2GXoZ8sGEFmiuvb2xepiSBSn_oxRw5ZysoDQnuDgFJK1cWX1m8YYiM5LtKjOlLd2SMAkvWZcmvqhiuITjIzICXU9SvAWSCFIlv2fPsdulnzgHpwsD2Vt7Mpn_4uVKENoghqYZM-QvRSRUvuks3YwE5YQhPyW5mZ7uKLWlsaUeefndeAzEF0keDR4qWim7ETQzy7JAtnoUey43iuxdR5c5fWZPjlsme6lS1gpVEbWTNHtbpB5JClftS4WEggXOf1IKaMUA_7TF-E_N-RVNQ9oP8WAJG59IY2XzrsDfWs6gxjq5OvMQ1SeLhEqPoJVAnRmF3XOh1xLU2zK4tVzQ=w1148-h765-no");
  color: White;
}
.jumbotron.lead{
  color: white;
}